<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <div class="navbar-brand">Ruby Tapas</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/all">All</a></li>
  </ul>
</nav>

<div class="container">
  <table id="episode-list" class="table table-striped">
    <thead>
      <th class="ep-number">Number</th>
      <th class="ep-title">Title</th>
      <th class="ep-description">Description</th>
    </thead>
    <tbody></tbody>
  </table>
</div>
